<app-navigation>
    <div class="container-fluid mt-3 mb-5">
        <img src="pga-home-1.jpg" style="width: 100%; height: 350px;" />
    </div>
    <div class="container-fluid my-5">
        <img src="pga-home-4.jpeg" style="width: 100%;" />
    </div>
    <div class="container-fluid">
        <img src="pga-home-3.jpeg" style="width: 100%;" />
    </div>
    <div class="container-fluid px-5 mx-2 my-5">
        <div class="">
            <h2>Donations</h2>
        </div>
        <img src="qr.jpeg" style="height: 200px;">
    </div>
</app-navigation>