<app-navigation>
    <div class="container justify-content-center d-flex">
        <div class="d-flex flex-column">
            <div class="p-5 mt-5">
                <h2>About Parivartan Gyan Academy</h2>
                <p>At Parivartan Gyan Academy, we are passionate about fostering a love for learning. Through our innovative teaching methods, we inspire our students, faculty, and staff to continually grow and excel. We embrace diverse perspectives and opinions, recognizing that they enhance our decision-making and enrich the educational experience. By understanding the broader educational landscape and our role within it, we align our efforts with the academy's objectives. We approach challenges with optimism and leverage the power of teamwork to achieve our goals. These principles are not merely statements; they define who we are, how we operate, and guide every interaction with our students and each other.</p>
            </div>
            <div class="p-5 mb-5">
                <h2>What Sets Us Apart</h2>
                <p>Bring an open mind and a hunger for knowledge, and you'll experience unparalleled personal and professional growth within a community rich in diverse backgrounds and perspectives. We are committed to building and sustaining inclusive teams and fostering a culture of belonging. Creating an environment where every student feels welcome, valued, and heard is at the heart of what we do, giving us a profound sense of purpose and fulfillment.</p>
            </div>
        </div>
    </div>
</app-navigation>
