<div class="d-flex align-items-center justify-content-center vh-100 bg-body-secondary">
    <div class="border px-4 py-4 rounded-3 shadow bg-body text-center col-lg-6 col-sm-10 col-md-8">
        <div class="mb-2">
            <img src="login_icon.jpeg" alt="Logo" class="logo" width="120" height="120">
        </div>
        <div>
            <h4>Parivartan Gyan Academy</h4>
        </div>
        <div class="my-2">
            <h5>Register Here</h5>
        </div>
        
        <form>
            <input type="text" class="form-control" placeholder="Full Name" required>
            <input type="text" class="form-control my-2" placeholder="Contact Number" required>
            <input type="text" class="form-control" placeholder="Referral Code">
            <div class="d-grid">
                <button class="btn btn-primary mt-2">Register</button>
            </div>
        </form>         
        <hr>
        <div>
            <h5>Login Here</h5>
        </div>

        <input type="text" class="form-control" placeholder="Enter Contact Number">

        <div class="d-grid">
            <button class="btn btn-primary mt-2">Login</button>
        </div>
    </div>
</div>